$orange         : #BD3613;
$blue           : #2176C7;
$black 			: #212121;
$white			: #ffffff;

$font-primary: Chunkfive;
$font-secondary: Bree Serif, serif;
$font-chunkfive: Montserrat;

$default-border-radius : 10px;